/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--global-font-color: #545454;
	--global-font-family: "Nanum Myeongjo", serif;
	--global-font-size: 16;
	--global-font-line-height: 1.7;
	--highlight-font-family: "Open Sans", "Helvetica Neue", "Arial Narrow", sans-serif;
	--form-field-font-family: "Open Sans", "Helvetica Neue", "Arial Narrow", sans-serif;
	--content-width: 888px; /* including padding 824 + 4 rem*/
	--content-width-actual: 824px; /* including padding 824 + 4 rem*/
	--content-width-narrow: 650px; /* including padding 824 + 4 rem*/
	--header-width: 950px;
	--dropdown-symbol-width: 0.7em;

	--global-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);


	/* Custom editor colors */
	--color-theme-primary: #545454;
	--color-theme-secondary: #ddd;
	--color-theme-red: #c0392b;
	--color-theme-red-light: #e8b7b1;
	--color-theme-green: #27ae60;
	--color-theme-blue: #2980b9;
	--color-theme-yellow: #f1c40f;
	--color-theme-black: #1c2833;
	--color-theme-white: #fff;

	--color-theme-grey-light: #ddd;
	--color-theme-grey-med-light: #b6b6b6;
	--color-theme-grey: #979797;
	--color-theme-grey-med-dark: #6e6d6d;
	--color-theme-grey-dark: #545454;
	--color-theme-white: #fff;
	--color-custom-daylight: #97c0b7;
	--color-custom-sun: #eee9d1;

	--color-link: #0073aa;
	--color-link-visited: #0073aa;
	--color-link-active: #00a0d2;

	--color-quote-border: #000;
	--color-quote-citation: #6c7781;
	--color-border: #a6a6a6;

	--color-button-background: var(--color-theme-grey-dark);
	--font-family-button: var(--highlight-font-family);

	/* Custom editor font sizes */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-xsmall: calc(12 / var(--global-font-size) * 1rem);
	--font-size-medium: calc(18 / var(--global-font-size) * 1rem); /** intro text **/
	--font-size-medium-hd: calc(24 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(18 / var(--global-font-size) * 1rem);
	--font-size-regular-hd: calc(18 / var(--global-font-size) * 1rem);
	--font-size-large: calc(18 / var(--global-font-size) * 1rem); /** quote **/
	--font-size-large-t: calc(21 / var(--global-font-size) * 1rem); /** quote **/
	--font-size-large-tw: calc(24 / var(--global-font-size) * 1rem); /** quote **/
	--font-size-large-hd: calc(34 / var(--global-font-size) * 1rem); /** quote **/
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem);
	--font-size-nav: calc(18 / var(--global-font-size) * 1rem);
	--font-size-button: calc(16 / var(--global-font-size) * 1rem);
	--font-size-button-hd: calc(20 / var(--global-font-size) * 1rem);


	/* Heading font sizes */
	--font-size-h1-overlay: 3rem;
	--font-size-h1-tw-overlay: 4.25rem;
	--font-size-h1: 2.75rem;
	--font-size-h1-tw: 3rem;
	--font-size-h1-hd: 3rem;
	--font-size-h2: 2.25rem;
	--font-size-h2-hd: 2.75rem;
	--font-size-h3: 1.875rem;
	--font-size-h3-hd: 2rem;
	--font-size-h4: 1.25rem;

	/* Main family font weights */
	--font-weight-regular: 400;
	--font-weight-bold: 800;
	--font-weight-medium: 700;

	--gutter-width: 1.5rem;
	--gutter-width-tablet: 1.6875rem;
	--gutter-width-tablet-wide: 2rem;
	--gutter-width-hd: 2rem;

	/*block padding */
	--block-padding-vert: 3.25rem;
	--block-padding-vert-tablet: 3.5rem;
	--block-padding-vert-tablet-wide: 3.5rem;
	--block-padding-vert-hd: 5rem;
}
