/*--------------------------------------------------------------
## Alignments
--------------------------------------------------------------*/
.alignleft {
	float: left;
	margin-right: 1.5rem;
}

.alignright {
	float: right;
	margin-left: 1.5rem;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignfull {
	max-width: 100%;
	padding: 0;
}

@media (--tablet-wide-up) {

	.page-content > .alignwide {
		max-width: calc(50% + var(--content-width) / 2);
	}

	.page-content > .alignfull {
		max-width: 100%;
	}
}

@media (--desktop-up) {

	.alignwide,
	.is-style-wide {
		max-width: calc(50% + var(--content-width) / 2);

		& .alignwide,
		& .is-style-wide {
			max-width: none;
			width: 100%;
		}
	}
}

/*--------------------------------------------------------------
## Custom block colors.
--------------------------------------------------------------*/

.has-theme-primary-color,
.has-theme-primary-color a {
	color: var(--color-theme-primary);
}

.has-theme-primary-background-color {
	background-color: var(--color-theme-primary);
	color: var(--color-theme-white) l;
}

.has-theme-secondary-color,
.has-theme-secondary-color a {
	color: var(--color-theme-secondary);
}

.has-theme-secondary-background-color {
	background-color: var(--color-theme-secondary);
}

.has-theme-grey-med-light-color,
.has-theme-grey-med-light-color a {
	color: var(--color-theme-grey-med-light);
}

.has-theme-grey-med-light-background-color {
	background-color: var(--color-theme-grey-med-light);
}

.has-theme-grey-color,
.has-theme-grey-color a {
	color: var(--color-theme-grey);
}

.has-theme-grey-background-color {
	background-color: var(--color-theme-grey);
}

.has-theme-grey-med-dark-color,
.has-theme-grey-med-dark-color a {
	color: var(--color-theme-grey-med-dark);
}

.has-theme-grey-med-dark-background-color {
	background-color: var(--color-theme-grey-med-dark);
}


.has-theme-red-color,
.has-theme-red-color a {
	color: var(--color-theme-red);
}

.has-theme-red-background-color {
	background-color: var(--color-theme-red);
}

.has-theme-green-color,
.has-theme-green-color a {
	color: var(--color-theme-green);
}

.has-theme-green-background-color {
	background-color: var(--color-theme-green);
}

.has-theme-blue-color,
.has-theme-blue-color a {
	color: var(--color-theme-blue);
}

.has-theme-blue-background-color {
	background-color: var(--color-theme-blue);
}

.has-theme-yellow-color,
.has-theme-yellow-color a {
	color: var(--color-theme-yellow);
}

.has-theme-yellow-background-color {
	background-color: var(--color-theme-yellow);
}

.has-theme-black-color,
.has-theme-black-color a {
	color: var(--color-theme-black);
}

.has-theme-black-background-color {
	background-color: var(--color-theme-black);
	color: var(--color-theme-white);
}

.has-theme-white-color,
.has-theme-white-color a {
	color: var(--color-theme-white);
}

.has-theme-white-background-color {
	background-color: var(--color-theme-white);
}

.has-custom-daylight-color,
.has-custom-daylight-color a {
	color: var(--color-custom-daylight);
}

.has-custom-daylight-background-color {
	background-color: var(--color-custom-daylight);
}

.has-custom-sun-color,
.has-custom-sun-color a {
	color: var(--color-custom-sun);
}

.has-custom-sun-background-color {
	background-color: var(--color-custom-sun);
}

/*--------------------------------------------------------------
## Custom block font sizes.
--------------------------------------------------------------*/

.has-small-font-size {
	font-size: var(--font-size-small);
}

.has-regular-font-size {
	font-size: var(--font-size-regular);
}

.has-large-font-size {
	font-size: var(--font-size-large);
}

.has-larger-font-size {
	font-size: var(--font-size-larger);
}
