.post-type-archive-portfolio {

	& .archive-wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	& .page-header,
	& .entry-header {
		margin: 0;
		padding-left: var(--gutter-width);
		padding-right: var(--gutter-width);
	}

	& .archive-entry {
		flex-direction: column;
		margin-top: 0;

		& .post-thumbnail {

			& img {
				height: 300px;
				width: 100%;
				object-fit: cover;
			}
		}
	}

	& .archive-entry--content {
		padding-top: 1rem;
		border-bottom: none;

		& .entry-header {
			padding: 0;
		}

		& h2.entry-title {
			font-size: 1.25rem;
			text-align: center;

			& a {
				text-decoration: none;
			}
		}
	}
}


.single-portfolio {

	& .page-header {

		&.has-post-thumbnail {

			& .page-title {
				position: relative;
				max-width: var(--content-width);
				margin-left: auto;
				margin-right: auto;
				top: 0;
				left: 0;
				color: var(--global-font-color);
				transform: none;
				padding: 0 var(--gutter-width);
				margin-top: 1em;
				margin-bottom: 1em;
				text-shadow: none;
				font-size: var(--font-size-h1);
			}
		}
	}
}

@media (--tablet-wide-up) {

	.single-portfolio {

		& .page-header.has-post-thumbnail {

			& .page-title {
				font-size: var(--font-size-h1-tw);
			}
		}
	}
}

@media (--desktop-up) {

	.single-portfolio {

		& .page-header {

			&.has-post-thumbnail {

				& .page-title {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
}


.wp-block-ck-custom_posttype__image-link {

	& > img {
		height: 245px !important;
		object-fit: cover;
	}
}

@media (--tablet-up) {

	.wp-block-ck-custom_posttype__image-link {

		& > img {
			height: 350px !important;
		}
	}
}

.wp-block-ck-custom_posttype__list.is-grid {

	& > ul > li {
		position: relative;
		padding: 0;
		margin-bottom: 1.5rem;
		overflow: hidden;
	}

	& .wp-block-ck-custom_posttype__content-wrap {
		display: none;
		position: absolute;
		padding: 0.5rem;
		bottom: 0;
		width: 100%;
		background: rgba(0, 0, 0, 0.2);
		color: #fff;
		font-family: var(--highlight-font-family);
		transition: all 0.2s ease;

		& a {
			color: #fff;
		}
	}
}

@media (--tablet-up) {

	.wp-block-ck-custom_posttype__list.is-grid {

		& > ul > li {
			padding: 0 15px;
		}

		& .wp-block-ck-custom_posttype__content-wrap {
			width: calc(100% - 30px);
		}
	}

	.post-type-archive-portfolio {

		& .site-main {
			margin: 0 auto;

			padding-left: var(--gutter-width-tablet);
			padding-right: var(--gutter-width-tablet);
			max-width: calc(var(--content-width) + 200px);

		}

		& .archive-wrapper {
			margin-left: -1rem;
			margin-right: -1rem;
			margin-bottom: 3rem;
		}

		& .page-header {
			padding-left: 0;
			padding-right: 0;
			width: 100%;
		}

		& .archive-entry {
			padding-left: 1rem;
			padding-right: 1rem;
			width: calc(100% / 3);
		}

		& .archive-entry--content {
			padding-left: 0;
			padding-right: 0;
		}

	}
}

@media (--tablet-wide-up) {

	.wp-block-ck-custom_posttype__image-link {

		& > img {
			height: 310px;
		}
	}

	.wp-block-ck-custom_posttype__list.is-grid {

		& > ul > li:hover .wp-block-ck-custom_posttype__content-wrap {
			bottom: 0 !important;
		}
	}

	.single-portfolio {

		& .page-header {

			&.has-post-thumbnail {

				& .entry-title {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}

}

